@model WebNews_19089.Models.UserErrorModelView

@{ 
    ViewBag.Title = "Error";
}

<div class="col-2"></div>
<div class="col-8 userError">

    <h1 class="bold">
        Sorry, we've encountered an error
    </h1>

    <h3>
        @Model.Error
    </h3>

    @if(Model.AdditionalDetails != null)
    {
        <p>
            - @Model.AdditionalDetails
        </p>
    }

</div>
<div class="col-2"></div>