@model IEnumerable<WebNews_19089.Models.Categories>

<div class="dropdown">
    <div class="nav-item nav-item-dropdown">
        <span class="dropdown-trigger">Categories</span>
        <ul class="dropdown-menu">
            @foreach (var category in Model) {
                
                <a href="@Url.Action("Index", "News" ,new { categoryID = category.ID })"><li class="dropdown-menu-item">@category.Name</li></a>
                
            }
        </ul>
    </div>
</div>
