@model IEnumerable<WebNews_19089.Models.Categories>

<div class="dropdown categoriesDropdown">
    <div class="nav-item nav-item-dropdown">
        <span class="dropdown-trigger">Categories</span>
        <ul class="dropdown-menu">

            @*
                Dropdown option com 'all'    
            *@

            <a href="@Url.Action("Index", "News" ,new { category = "All", pageNum = 1 })"><li class="dropdown-menu-item">All</li></a>

            @foreach (var category in Model)
            {

                <a href="@Url.Action("Index", "News" ,new { category = category.Name, pageNum = 1 })"><li class="dropdown-menu-item">@category.Name</li></a>

            }
        </ul>
    </div>
</div>
