@model IEnumerable<WebNews_19089.Models.Categories>

<div class="dropdown">
    <div class="nav-item nav-item-dropdown">
        <span class="dropdown-trigger">Categories</span>
        <ul class="dropdown-menu">
            @foreach (var category in Model) {

                <li class="dropdown-menu-item">@Html.ActionLink(category.Name, "Index", "News", new { categoryID = category.ID }, null)</li>
                
            }
        </ul>
    </div>
</div>
