@using Microsoft.AspNet.Identity

<div class="loginRegister">

    @if (Request.IsAuthenticated) {

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {

            @Html.AntiForgeryToken()

            <div class="login">

                <div class="loginLinks">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new { email=User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                </div>

                <div class="loginLinks">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>

            </div>
        }

    } else {

        <div class="login">

            <div class="loginLinks">
                @Html.ActionLink("Register", "Register", "Account", new { returnUrl = Url.Action("Index", "News") }, htmlAttributes: new { id = "registerLink" })
            </div>

            <div class="loginLinks">
                @Html.ActionLink("Log in", "Login", "Account", new { returnUrl = Url.Action("Index", "News") }, htmlAttributes: new { id = "loginLink" })
            </div>

        </div>

    }

</div>