@{
    ViewBag.Title = "About";
}

<div class="col-1"></div>
<div class="col-10 about">

    <div class="aboutMe">

        <h1 class="bold">
            About me
        </h1>

        <hr />

        <p class="name">
            <span class="bold">
                Name
            </span>
            <span>
                : Telmo Oliveira Alexandre
            </span>
        </p>

        <p class="number">
            <span class="bold">
                Number
            </span>
            <span>
                : 19089
            </span>
        </p>

        <p class="degree">
            <span class="bold">
                Degree
            </span>
            <span>
                : Engenharia Informática, 2º Ano - Turma A
            </span>
        </p>

        <p class="github">
            <span class="bold">
                Github:
            </span>
            <span>
                <a href="https://github.com/TelmoAlexandre">
                    : https://github.com/TelmoAlexandre
                </a>
            </span>
        </p>

        <p class="github">
            <span class="bold">
                Github Project:
            </span>
            <span>
                <a href="https://github.com/TelmoAlexandre/2018_BackEnd_FinalProject_WebNews">
                    : https://github.com/TelmoAlexandre/2018_BackEnd_FinalProject_WebNews
                </a>
            </span>
        </p>

        <hr />
        <hr />
    </div>

    <div class="Accounts row">

        <hr />
        <div class="col-12">

            <h1 class="bold">
                Accounts
            </h1>
            <hr />
        </div>



        <div class="journalistsList col-12 row">

            <div class="col-12">
                <h4 class="bold">
                    Journalists
                </h4>
                <hr />
            </div>


            <hr />

            <div class="journalists col-12 row">

                <div class="col-4">
                    <p class="name">
                        <span class="bold">
                            Username
                        </span>
                        <span>
                            : journalist1@mail.com
                        </span>
                    </p>
                    <p class="name">
                        <span class="bold">
                            Password
                        </span>
                        <span>
                            : Qwe123!
                        </span>
                    </p>
                </div>

                <div class="col-4">
                    <p class="name">
                        <span class="bold">
                            Username
                        </span>
                        <span>
                            : journalist3@mail.com
                        </span>
                    </p>
                    <p class="name">
                        <span class="bold">
                            Password
                        </span>
                        <span>
                            : Qwe123!
                        </span>
                    </p>
                </div>

                <div class="col-4">
                    <p class="name">
                        <span class="bold">
                            Username
                        </span>
                        <span>
                            : journalist3@mail.com
                        </span>
                    </p>
                    <p class="password">
                        <span class="bold">
                            Password
                        </span>
                        <span>
                            : Qwe123!
                        </span>
                    </p>
                </div>
                
            </div>
        </div>

        <div class="col-12">
            <hr />
        </div>

        <div class="adminsList col-4">

            <h4 class="bold">
                Admins
            </h4>

            <hr />

            <div class="admins">

                <div>

                    <p class="name">
                        <span class="bold">
                            Username
                        </span>
                        <span>
                            : admin@mail.com
                        </span>
                    </p>

                    <p class="password">
                        <span class="bold">
                            Password
                        </span>
                        <span>
                            : Qwe123!
                        </span>
                    </p>

                </div>

            </div>

        </div>

        <div class="editorsList col-4">
            <h4 class="bold">
                Editors
            </h4>

            <hr />

            <div class="editors">

                <div>

                    <p class="name">
                        <span class="bold">
                            Username
                        </span>
                        <span>
                            : editor@mail.com
                        </span>
                    </p>

                    <p class="password">
                        <span class="bold">
                            Password
                        </span>
                        <span>
                            : Qwe123!
                        </span>
                    </p>

                </div>

            </div>
        </div>



    </div>

</div>
<div class="col-1"></div>