@{
    ViewBag.Title = "Edit Category";
}

<div class="col-1"></div>
<div class="addAndRemoveAuthor col-4">

    <h2 class="bold">
        Edit a Category.
    </h2>

    <form action="/Categories/Edit" method="post">
        @Html.AntiForgeryToken()

        <div class="dropbox">
            @Html.DropDownList("Categories", null, htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Edit" class="btn bold" />
        </div>

    </form>

</div>

