@model WebNews_19089.Models.News

@{
    ViewBag.Title = "Details";
}

<div class="col-12 newsDetail">

    <div class="newsDetailHeaderContainer row">

        <div class="newsDetailHeaderTitleContainer col-6">

            <div>

                <h1 class="newsTitle">
                    @Html.DisplayFor(model => model.Title)
                </h1>

                <p class="newsDescription">
                    @Html.DisplayFor(model => model.Description)
                </p>

            </div>

        </div>

        <div class="newsDetailHeaderImagesContainer col-6">
            @foreach(var photo in Model.PhotosList) {
                <img src="~/Images/@photo.Name" />
            }
        </div>

    </div>

    <div class="newsDetailBodyContainer">
        @Html.DisplayFor(model => model.Content)
    </div>

</div>