@model IEnumerable<WebNews_19089.Models.News>

@{
    ViewBag.Title = "Web Paper";
}

@foreach (var news in Model) {

    <div class="newsBlock col-4">
        <h1 class="newsTitle">
            @Html.ActionLink("" + news.Title, "Details", new { id = news.ID })
        </h1>
        <p class="newsDescription">
            @Html.DisplayFor(modelNews => news.Description)
        </p>

        @*
            Caso o utilizador logado seja administrator ou editor de redação ele pode alterar a noticia
        *@

        @if (User.IsInRole("Admin") || User.IsInRole("NewsEditor")) {

            <div class="newsOptions">

                <span>|</span>
                @Html.ActionLink("Edit", "Edit", new { id = news.ID }, new { @class = "newsOptionLink" })
                <span>||</span>
                @Html.ActionLink("Delete", "Delete", new { id = news.ID }, new { @class = "newsOptionLink" })
                <span>|</span>

            </div>

        }

    </div>

}