@model IEnumerable<WebNews_19089.Models.News>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var news in Model) {

    <div class="newsBlock col-4">
        <h1 class="newsTitle">
            @Html.ActionLink("" + news.Title, "Details", new { id = news.ID })
        </h1>
        <p class="newsDescription">
            @Html.DisplayFor(modelNews => news.Description)
        </p>
    </div>

}