@model WebNews_19089.Models.News

@{
    ViewBag.Title = "Remove Author";
}

<div class="addAndRemoveAuthor">

    <h2>
        Remove an Author.
    </h2>

    <form action="/News/RemoveAuthor" method="post">
        @Html.AntiForgeryToken()
        <input data-val="true" name="newsID" type="hidden" value=@Model.ID>

        <div class="dropbox">
            @Html.DropDownList("Users", null, htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Remove" class="btn bold" />
        </div>

    </form>

</div>
