body
  background-color: rgb(235, 234, 231)
  background-image: url("https://i.imgur.com/W9YCify.png")
  padding: 0rem
  margin: 0rem
  font-size: 1rem

a
  text-decoration: none
  color: black
  &:hover
    text-decoration: none
    color: black

.headerContainer
  .loginRegister
    position: absolute
    top: .6rem
    right: 0px
    margin-right: 1.25rem
    margin-top: .2rem
    font-family: "Fondamento", cursive
    .login
      display: inline
      div
        position: relative
        display: inline
        font-size: 1.2em
        margin-left: .8rem
        a
          &:after
            content: ''
            position: absolute
            bottom: 0
            right: 0
            left: 0
            width: 100%
            height: .1rem
            background-color: black
            transform: scaleX(0)
            transition: transform 0.3s
          &:hover
            &:after
              transform: scaleX(1)
  .title
    font-size: 4.5em
    font-weight: bold
    text-align: center
    margin-top: 2.5rem
    padding-bottom: .6rem
    border-bottom: .6rem double black
    font-family: "Fondamento", cursive
    a:hover
        padding-left: 1.25rem
        transition: 0.5s
  .date
    font: 1em "Roboto Mono", monospace
    text-align: center
    width: 17.5rem
    margin: auto
    margin-top: .6rem
    border-left: .06rem solid black
    border-right: .06rem solid black


.bodyContainer
  margin-top: .6rem
  border-top: .19rem solid black
  text-align: center
  font-family: "Roboto", sans-serif
  .newsTitle
    font-size: 2.5em
    font-weight: bold
    padding: 0rem .6rem
    font-family: "Fondamento", cursive
  .newsDescription
    padding: 0rem .6rem
    margin-top: 1.25rem

// News/Index
.newsBlock
  width: 20%
  max-height: 30%
  margin-top: 1rem
  h1:hover
    padding-left: 1.25rem
    transition: 0.5s

// News/Details/{id}
.newsDetail
  margin-top: 1rem

  // News (header)
  .newsDetailHeaderContainer
    margin: .4rem auto
    width: 100%
    .newsDetailHeaderTitleContainer
      .newsTitle
        font-size: 3em
      .newsDescription
        margin-top: 2rem
        text-align: justify
        font-weight: bold
    .newsDetailHeaderImagesContainer
      img
        height: 100%

  // News (body)
  .newsDetailBodyContainer
    text-align: justify
    margin: .4rem auto
    width: 100%
    padding: .5rem 2rem
    p
      padding: 0
      margin: 0 0 1.5rem
      font-weight: bold
  
//Comments
.newsCommentsContainer
  border-top: .6rem double
  margin-top: 4rem
  text-align: left
  h2
    margin: 1.5rem 0 2rem
    font-family: "Fondamento", cursive
    font-weight: bold
  .comment
    padding: 2rem .5rem 2rem
    border-top: .06rem solid
    p
      margin: 0

    .commentHeaderContainer
      .commentHeaderUser
        font-weight: bold
      .commentHeaderDate
        font-size: .8em
    
    .commentBodyContainer
      margin-top: 1rem

.registerContainer
  text-align: left
  margin-top: 2rem
  h2 h4
    font-family: "Fondamento", cursive
  div
    padding-left: 0
  input
    padding-left: 0
    
.login
  text-align: left
  margin-top: 2rem
  font-family: "Fondamento", cursive
  div
    padding-left: 0
  input
    padding-left: 0

div
  //border: 1px solid
  
img
  width: 100%
  //-webkit-filter: grayscale(100%)
  //filter: grayscale(100%)
  //image-rendering: pixelated

.footer
  text-align: center
  font-size: 1em
  font-weight: bold
  margin-top: 1rem
  padding: .3rem 0rem
  border-top: 0.19rem double black
  border-bottom: 0.19rem double black
