body {
  background-color: #ebeae7;
  background-image: url("https://i.imgur.com/W9YCify.png");
  padding: 0rem;
  margin: 0rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.headerContainer .loginRegister {
  position: absolute;
  top: .6rem;
  right: 0px;
  margin-right: 1.25rem;
  margin-top: .2rem;
  font-family: "Fondamento", cursive;
}

.headerContainer .loginRegister .login {
  display: inline;
}

.headerContainer .loginRegister .login div {
  position: relative;
  display: inline;
  font-size: 1.2em;
  margin-left: .8rem;
}

.headerContainer .loginRegister .login div a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.headerContainer .loginRegister .login div a:hover:after {
  transform: scaleX(1);
}

.headerContainer .title {
  font-size: 4.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5rem;
  padding-bottom: .6rem;
  border-bottom: .6rem double black;
  font-family: "Fondamento", cursive;
}

.headerContainer .title a:hover {
  padding-left: 1.25rem;
  transition: 0.5s;
}

.headerContainer .date {
  font: 1em "Roboto Mono", monospace;
  text-align: center;
  width: 17.5rem;
  margin: auto;
  margin-top: .6rem;
  border-left: .06rem solid black;
  border-right: .06rem solid black;
}

.bodyContainer {
  margin-top: .6rem;
  border-top: .19rem solid black;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.bodyContainer .newsTitle {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0rem .6rem;
  font-family: "Fondamento", cursive;
}

.bodyContainer .newsDescription {
  padding: 0rem .6rem;
  margin-top: 1.25rem;
}

.newsBlock {
  width: 20%;
  max-height: 30%;
  margin-top: 1rem;
}

.newsBlock h1:hover {
  padding-left: 1.25rem;
  transition: 0.5s;
}

.newsDetail {
  margin-top: 1rem;
}

.newsDetail .newsDetailHeaderContainer {
  margin: .4rem auto;
  width: 100%;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderTitleContainer .newsTitle {
  font-size: 3em;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderTitleContainer .newsDescription {
  margin-top: 2rem;
  text-align: justify;
  font-weight: bold;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderImagesContainer img {
  height: 100%;
}

.newsDetail .newsDetailBodyContainer {
  text-align: justify;
  margin: .4rem auto;
  width: 100%;
  padding: .5rem 2rem;
}

.newsDetail .newsDetailBodyContainer p {
  padding: 0;
  margin: 0 0 1.5rem;
  font-weight: bold;
}

.newsCommentsContainer {
  border-top: .6rem double;
  margin-top: 4rem;
  text-align: left;
}

.newsCommentsContainer h2 {
  margin: 1.5rem 0 2rem;
  font-family: "Fondamento", cursive;
  font-weight: bold;
}

.newsCommentsContainer .comment {
  padding: 2rem .5rem 2rem;
  border-top: .06rem solid;
}

.newsCommentsContainer .comment p {
  margin: 0;
}

.newsCommentsContainer .comment .commentHeaderContainer .commentHeaderUser {
  font-weight: bold;
}

.newsCommentsContainer .comment .commentHeaderContainer .commentHeaderDate {
  font-size: .8em;
}

.newsCommentsContainer .comment .commentBodyContainer {
  margin-top: 1rem;
}

img {
  width: 100%;
}

.footer {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1rem;
  padding: .3rem 0rem;
  border-top: 0.19rem double black;
  border-bottom: 0.19rem double black;
}
/*# sourceMappingURL=WebPaper.css.map */